<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rak Gamer</title>
  <link rel="manifest" href="./RG.webmanifest">
</head>
<body>
<header>
  <app-bar></app-bar>
</header>
<main>
  <search-bar></search-bar>
  <game-list></game-list>
  <div id="loading">
    <p id="error-message">Loading...<div class="spinner"></div></p>
  </div>
</main>
<footer>
  <p>
    &copy; 2024 <a href="https://github.com/ramagdev/rakgamer" target="_blank">ramagdev</a>
    <br>
    Powered by <a href="https://rawg.io/" target="_blank">RAWG.io's</a> extensive video game database.
  </p>
</footer>
</body>
</html>
